#__id__ h1.title {
  font-size: 15.1%;
  margin-top: 0;
}

#__id__.Cover--scope-1-2 h1.title,
#__id__.Cover--scope-3-5 h1.title {
  font-size: 14.9%;
}

#__id__ h2.title {
  font-size: 0.35in;
  margin-top: -12%;
}

#__id__.trim--xl h2.title {
  font-size: 0.45in;
}

#__id__ .blurb {
  font-size: 2.45%;
}

